.sidebar-wrapper{
	padding: 0;
	border-right: 1px black solid;

	ul{
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;

		li{
			border-bottom: 1px solid black;
			padding: 15px 0 15px 20px;
			color: black;
		}

		li:last-child{
			border-bottom: 0px;
		}
	}
}

.content-holder{
	border: 1px black solid;
}